# Fundamentals of Data Analysis Project 2020
This project will look at the powerproduction dataset.  This data set contains 501 rows and 2 columns, it gives the speed and power of wind turbines.  I

In [10]:
import pandas as pd
df=pd.read_csv (r"C:\Users\david\OneDrive\Documents\College\GMIT\Fundamentals of Data Analysis\Project 2020\2020-Fundamentals-Project\powerproduction.csv")

In [11]:
df.head()

   speed  power
0  0.000    0.0
1  0.125    0.0
2  0.150    0.0
3  0.225    0.0
4  0.275    0.0

In [12]:
df.tail()

      speed  power
495  24.775    0.0
496  24.850    0.0
497  24.875    0.0
498  24.950    0.0
499  25.000    0.0

In [13]:
df.describe()

            speed       power
count  500.000000  500.000000
mean    12.590398   48.014584
std      7.224991   41.614572
min      0.000000    0.000000
25%      6.324750    5.288000
50%     12.550500   41.645500
75%     18.775250   93.537000
max     25.000000  113.556000